@import "../../variables.css";
.comic-card {
  display: flex;
  flex-direction: column;
  width: 179.92px;
  height: 340.8px;
  gap: 12px;
}

.comic-card img {
  height: 268.8px;
  object-fit: cover;
}

.comic-card p {
  font-size: var(--font-size);
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.comic-card span {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
