@import "@/variables.css";

.searchInput-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 27px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid black;
	gap: 12px;
}

.icon {
	font-size: 24px; /* Tamaño del icono ajustable según tus necesidades */
	margin-right: 10px;
}

.input {
	border: none;
	outline: none;
	font-size: var(--font-size);
	width: 100%;
	text-transform: uppercase;
}

.input::placeholder {
	color: #999;
	font-size: var(--font-size);
}
