@import "@/variables.css";
.carousel-container {
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	height: auto;
}

.carousel {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	padding: 0px;
}

.carousel-container::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.carousel-container::-webkit-scrollbar-thumb {
	background-color: var(--marvel-red);
	border-radius: 5px;
	cursor: pointer;
}

.carousel-container::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 834px) {
	.carousel-container {
		overflow-x: scroll;
	}
	.carousel-container::-webkit-scrollbar {
		display: none;
	}
}
