.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  padding: 0px calc(var(--space) * 3);
  gap: var(--space);
}

@media screen and (max-width: 768px) {
  .character-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .character-list {
    padding: 0px calc(var(--space) + 8px);
    gap: calc(var(--space) + 8px);
  }
}
